<div class="contenedorchico resto">
    <div class="d-flex justify-content-between mb-2 align-items-center">
        <h3>Proyectos:</h3>
        <button type="button" class="btn btn-dark"><i class="bi bi-file-plus"></i></button>
    </div>
        <dl>
            <dt class="d-sm-flex justify-content-between align-items-center">Mi Porfolio Web
                <div class="mb-1">
                    <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
                </div>
            </dt>
            <dd>Proyecto realizado como trabajo integrador para finalizar la segunda etapa del curso #YoProgramo brindado por el Gobierno de la Nación Argentina.
            El mismo cuenta con el desarrollo de las capas Front End, Back End y Base de Datos.</dd>    
        </dl>
</div>
