<div class="contenedorgrande resto">
    <div class="d-flex justify-content-between mb-0 align-items-center">
        <h3>Educación:</h3>
            <button type="button" class="btn btn-dark"><i class="bi bi-file-plus"></i></button>
    </div>

    <div class="d-sm-flex justify-content-between mt-3">
        <div class="d-sm-flex align-items-center">
            <div class="me-2">
                <img src="./assets/Imagenes/AProg.PNG" width="100" class=" mt-2 mb-2">
            </div>
            <div>
                <h5 class="mb-0">Argentina Programa</h5>
                <p class="mb-0">Título: Deasarrollador Full Stack Junior</p>
                <p class="mb-0">Periodo: marzo-2022 a enero-2023</p>
            </div>
        </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
    </div>

    <div class="d-sm-flex justify-content-between mt-3">
        <div class="d-sm-flex align-items-center">
            <div class="me-2">
                <img src="./assets/Imagenes/terciario.jpg" width="100">
            </div>
            <div>
                <h5 class="mb-0">Instituto Superior Nuestra Señora del Lourdes</h5>
                <p class="mb-0">Título: Técnico Superior en Administración de Empresas</p>
                <p class="mb-0">Periodo: 2020 - 2022</p>
            </div>
        </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
    </div>

    <div class="d-sm-flex justify-content-between mt-3">
        <div class="d-sm-flex align-items-center">
            <div class="me-2">
                <img src="./assets/Imagenes/fficde.jpg" width="100">
            </div>
            <div>
                <h5 class="mb-0">Fundación Interamericana de Ciencias de la Educación (F.I.C.D.E.)</h5>
                <p class="mb-0">Título: Liderazgo y Manejo de Grupos</p>
                <p class="mb-0">Periodo: abril-2016 a septiembre-2016</p>
            </div>
        </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
    </div>

    <div class="d-sm-flex justify-content-between mt-3">
        <div class="d-sm-flex align-items-center">
            <div class="me-2">
                <img src="./assets/Imagenes/cic.jpg" width="100">
            </div>
            <div>
                <h5 class="mb-0">Centro Integral de Capacitaciones (C.I.C.)</h5>
                <p class="mb-0">Título: Asistente Contable</p>
                <p class="mb-0">Periodo: marzo-2018 a junio-2018</p>
            </div>
        </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
    </div>

    <div class="d-sm-flex justify-content-between mt-3">
        <div class="d-sm-flex align-items-center">
            <div class="me-2">
                <img src="./assets/Imagenes/secundario.jpg" width="100">
            </div>
            <div>
                <h5 class="mb-0">Escuela Secundaria Juan Bautista Ambrosetti (I.P.E.T. y M. N°78)</h5>
                <p class="mb-0">Título: Técnico Minero</p>
                <p class="mb-0">Periodo: 2011 - 2017</p>
            </div>
        </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
    </div>
</div>
