<div class="barranav">
    <div class="row d-flex flex-row">
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start align-items-center">
            <img src="./assets/Imagenes/APLogo.png" width="138" height="82" class="m-0">
            <h2 class="text-light fs-5 mb-0">#YoProgramo</h2>
        </div>

        <div class="col-12 col-sm-6 d-flex align-items-center justify-content-sm-end justify-content-center">
            <a href="https://www.facebook.com/ana.montenegro.319452/" target="_blank"><h1><i class="bi bi-facebook"></i></h1></a>
            <a href="https://github.com/anabelammm" target="_blank" class="ms-2"><h1><i class="bi bi-github"></i></h1></a>
            <button class="btn btn-dark m-2" type="button">Login</button>
        </div>
    </div>
</div>
