<div class="banner">
    <div class="contenedor">
        <div class="d-flex justify-content-end">
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
            </div>
        </div>

        <div class="d-sm-flex flex-sm-row justify-content-sm-start align-items-end">
            <div>
                <img class="tamañofoto" src="./assets/Imagenes/foto2proyecto.jpeg">
            </div>

            <div class="pb-sm-3 ms-sm-3">
                <h2 class="mb-0">Anabela Montenegro Muñoz</h2>
                <a href= "#Iralpie">Información de contacto</a>
                <div class="mt-1"><button>Descargar CV</button></div>
            </div>
        </div>
    </div>
</div>
