<div class="contenedorgrande resto">
    <div>
        <div class="d-flex justify-content-between mb-3 align-items-center">
            <h3>Habilidades Blandas:</h3>
            <button type="button" class="btn btn-dark"><i class="bi bi-file-plus"></i></button>
        </div>
        
        <div class="d-sm-flex justify-content-between">   
            <div>
                <h5>Capacidad de resolución de problemas</h5>
                <progress max="100" value="95"></progress>
            </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>
         
        <div class="d-sm-flex justify-content-between">   
            <div>
                <h5>Trabajo en equipo</h5>
                <progress max="100" value="90"></progress>
            </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
         </div>
            
         <div class="d-sm-flex justify-content-between">   
            <div>
                <h5>Facilidad e interés de Aprendizaje</h5>
                <progress max="100" value="95"></progress>
            </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
         </div>

         <div class="d-sm-flex justify-content-between">   
            <div>
                <h5>Gestión del tiempo</h5>
                <progress max="100" value="100"></progress>
            </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
         </div>
               
         <div class="d-sm-flex justify-content-between">   
            <div>
                <h5>Capacidad de adaptación a los cambios, versatilidad</h5>
                <progress max="100" value="100"></progress>
            </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
         </div>

         <div class="d-sm-flex justify-content-between">   
            <div>
                <h5>Responsabilidad y puntualidad</h5>
                <progress max="100" value="100"></progress>
            </div>
            <div>
                <button class="btn btn-dark" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark ms-1" type="button"><i class="bi bi-trash"></i></button>
            </div>
         </div>
         
    </div>

    <div class="text-end mt-4">
        <div class="d-flex flex-row-reverse justify-content-between mb-3 align-items-center">
            <h3>Habilidades Técnicas:</h3>
            <button type="button" class="btn btn-dark"><i class="bi bi-file-plus"></i></button>
        </div>

        <div class="d-sm-flex flex-row-reverse justify-content-between">   
            <div>
                <h5>Programación de computadoras</h5>
                <progress max="100" value="40"></progress>
            </div>
            <div>
                <button class="btn btn-dark me-1" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>
            
        <div class="d-sm-flex flex-row-reverse justify-content-between">   
            <div>
                <h5>Herramientas Administrativas</h5>
                <progress max="100" value="95"></progress>
            </div>
            <div>
                <button class="btn btn-dark me-1" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>
            
        <div class="d-sm-flex flex-row-reverse justify-content-between">   
            <div>
                <h5>Habilidad para la negociación</h5>
                <progress max="100" value="95"></progress>
            </div>
            <div>
                <button class="btn btn-dark me-1" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>

        <div class="d-sm-flex flex-row-reverse justify-content-between">   
            <div>
                <h5>Idioma extranjero Inglés</h5>
                <progress max="100" value="50"></progress>
            </div>
            <div>
                <button class="btn btn-dark me-1" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>
            
        <div class="d-sm-flex flex-row-reverse justify-content-between">   
            <div>
                <h5>Idioma extranjero Portugués</h5>
                <progress max="100" value="85"></progress>
            </div>
            <div>
                <button class="btn btn-dark me-1" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>

        <div class="d-sm-flex flex-row-reverse justify-content-between">   
            <div>
                <h5>Manejo de paquete Microsoft</h5>
                <progress max="100" value="100"></progress>
            </div>
            <div>
                <button class="btn btn-dark me-1" type="button"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-dark" type="button"><i class="bi bi-trash"></i></button>
            </div>
        </div>

    </div>
    
</div>
